@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-bg:#0F2D1D;
  --color-surface:#143422;
  --color-card:#1D3C27;
  --color-card-hover:#244A31;

  --color-primary:#416B49;
  --color-secondary:#709768;

  --color-accent:#D6C08A;
  --color-text:#F5F1E6;
  --color-muted:#B8C3B4;

  --color-button:#33593B;
  --color-button-hover:#5FA86B;
}
