@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-bg: #0f2d1d;
  --color-surface: #143422;
  --color-card: #1d3c27;
  --color-card-hover: #244a31;

  --color-primary: #416b49;
  --color-secondary: #709768;

  --color-accent: #d6c08a;
  --color-text: #f5f1e6;
  --color-muted: #b8c3b4;

  --color-button: #33593b;
  --color-button-hover: #5fa86b;
}
